---
layout: archive
permalink: /publications/
author_profile: true
---
<h1 style="
font-family:'Times New Roman', serif;
font-weight:normal;
font-size:42px;
">
PAPER
</h1>
(1) <b style="font-style: italic;">Jing Yao</b>, Jiarui Zhang, Ming Xu, Can Wang, Donghan Ma*. Digital-micromirror-device-based illumination strategies for background suppression in single-molecule localization microscopy [J]. <b>Biomedical Optics Express</b>.
{% include base_path %}
<div class="paper-download-links">
  <a href="{{ base_path }}/files/paper.pdf" class="btn btn--primary">Download Paper</a>
</div>
<h1 style="
font-family:'Times New Roman', serif;
font-weight:normal;
font-size:42px;
">
PATENT
</h1>
(1) Donghan Ma, <b>Jing Yao</b>, Jiarui Zhang, Ming Xu, Can Wang; A Background Suppression Method for Single-Molecule Localization Microscopy Based on a Digital Micromirror Device, China.
<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


